form {
    margin: 0 auto;
    width: 500px;
    padding: 3em;
    border: 1px solid #ccc;
    border-radius: 1em;
    height: 45vh;
    margin-top: 70px;
}
h1 {
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 9vh;
    color: #000000;
    -webkit-text-stroke: 0.5px rgb(255, 159, 28);
}
label {
    display: inline-block;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    width: 190px;
    -webkit-text-stroke: 0.5px rgb(255, 159, 28);
}
input {
    border-radius: 1.2em;
}
a {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#registro-pro {
    background: url("/img/Producto.jpg") center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#registro-pro button {
    border: 0;
    width: 150px;
    height: 30px;
    margin-top: 18px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right #00dbde 0%, #fc00ff 100%);
}